#root {
  margin: 0 auto;
}

/* This CSS style works for the toast cards */
@keyframes toastFadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.toast-animate-fadeInOut {
  animation: toastFadeInOut 3s ease-in-out;
}

/* Styled Scrollbar for a specific element */
/* Works for Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: auto; /* Thin scrollbar */
  scrollbar-color: auto auto;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}

/* Works for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

@keyframes fadePulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.fade-pulse {
  animation: fadePulse 1.8s ease-in-out infinite;
}
