@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", "serif";
  box-sizing: border-box;
}

#root {
  position: relative;
  z-index: 1;
}

#rootTwo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: rgba(32, 31, 31, 0);
}

#rootThree {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 3;
  width: 300px;
  background: rgba(0, 255, 255, 0.8);
}

.tippy-box[data-theme~="hintUser"] {
  background-color: black;
  border-color: #00de82;
  border-style: solid;
  border-width: 1px;
  color: #cccccc;
  border-radius: 6px;
  font-size: 13px;
  padding: 8px;
  width: 250px;
  line-height: 22px;
}

.tippy-box[data-theme~="custom1"] {
  background-color: #333;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  padding: 5px;
}

.tippy-box[data-theme~="custom2"] {
  background-color: #333;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  padding: 5px;
  width: 180px;
}

.tippy-box[data-theme~="custom3"] {
  background-color: #ffcb4d;
  color: black;
  border-radius: 6px;
  font-size: 12px;
  padding: 5px;
  width: 180px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Custom Scrollbar for .custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  scrollbar-color: auto;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3d3d3d; /* Default color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: auto; /* Default color */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #141414; /* Default color */
}

/* custom styling for select elements */
.rs__control {
  background-color: #121212;
  border: 1px dashed #e80808;
  padding: 4px;
  font-size: 14px;
  border-radius: 10px;
}

.rs-option {
  background: #000;
}

.rs-menu {
  background-color: #ffcb4d;
}

.rs-option:hover {
  background-color: red;
}
